:root {
  --clr-primary: hsl(246, 80%, 60%);
  --clr-work: hsl(15, 100%, 70%);
  --clr-play: hsl(195, 74%, 62%);
  --clr-study: hsl(348, 100%, 68%);
  --clr-exercise: hsl(145, 58%, 55%);
  --clr-social: hsl(264, 64%, 52%);
  --clr-selfcare: hsl(43, 84%, 65%);

  --clr-verydarkblue: hsl(226, 43%, 10%);
  --clr-darkblue: hsl(235, 46%, 20%);
  --clr-desatblue: hsl(235, 45%, 61%);
  --clr-paleblue: hsl(236, 100%, 87%);
}
.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
a {
  text-decoration: none;
}
body {
  font-size: 18px;
  background-color: var(--clr-verydarkblue);
  color: whitesmoke;
  font-family: Rubik, "sans-serif";
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  height: 400px;
  margin: 100px auto;
  display: grid;
  grid-template-columns: repeat(4, 200px);
  gap: 15px;
}
.profile-card {
  grid-row: 1/3;
  border-radius: 10px;
  background-color: var(--clr-darkblue);
}
.time-card {
  border-radius: 10px;
  padding-top: 40px;
  position: relative;
}
.work {
  background-image: url("images/icon-work.svg");
  background-color: var(--clr-work);
  background-repeat: no-repeat;
  background-position: right -0.5rem;
}
.play {
  background-image: url("images/icon-play.svg");
  background-color: var(--clr-play);
  background-repeat: no-repeat;
  background-position: right -0.5rem;
}
.study {
  background-image: url("images/icon-study.svg");
  background-color: var(--clr-study);
  background-repeat: no-repeat;
  background-position: right -0.5rem;
}
.selfcare {
  background-image: url("images/icon-self-care.svg");
  background-color: var(--clr-selfcare);
  background-repeat: no-repeat;
  background-position: right -0.5rem;
}
.social {
  background-image: url("images/icon-social.svg");
  background-color: var(--clr-social);
  background-repeat: no-repeat;
  background-position: right -0.5rem;
}
.exercise {
  background-image: url("images/icon-exercise.svg");
  background-color: var(--clr-exercise);
  background-repeat: no-repeat;
  background-position: right -0.5rem;
}

.dark-card {
  background-color: var(--clr-darkblue);
  border-radius: 10px;
  height: 100px;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: -1px;
  padding: 20px 20px;
  transition: all 300ms ease;
}

.dark-card:hover {
  cursor: pointer;
  background-color: var(--clr-desatblue);
}

.fa-custom {
  color: var(--clr-paleblue);
  transition: 250ms ease;
  font-size: 16px;
}
.fa-custom:hover {
  color: white;
  cursor: pointer;
}

.personal-card {
  background-color: var(--clr-primary);
  height: 52%;
  border-radius: 10px;
  padding: 25px 15px;
  font-size: 0.75em;
}
#usr-name {
  font-size: 2.5em;
}

.dp {
  width: 70px;
  border: 3px solid whitesmoke;
  border-radius: 50%;
}
.d-w-m {
  padding: 20px 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  overflow: hidden;
}
span {
  display: inline-block;
  width: 180px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}
.duration {
  font-size: 0.8em;
  line-height: 0.5em;
  color: var(--clr-desatblue);
  transition: all 250ms ease;
}

.duration:hover {
  cursor: pointer;
  color: white !important;
}

.heading {
  height: 10%;
  font-size: 0.8em;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.data-h {
  font-size: 2em;
  line-height: 0.125em;
}

.data-p {
  font-size: 0.75em;
  color: var(--clr-paleblue);
}

@media (max-width: 852px) {
  .container {
    height: 100%;
    width: 80%;
    grid-template-columns: 1fr;
    margin: 20px auto;
    grid-gap: 20px;
  }
  .d-w-m {
    flex-direction: row;
    padding: 10px;
  }
  .personal-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .dp {
    width: 70px;
    height: 70px;
  }
  .dark-card {
    height: 50px;
  }
  .time-card {
    height: 100px;
  }
  .dur-display {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
